@tailwind base;
@tailwind components;
@tailwind utilities;





/* .MuiPaper-root {
  z-index: 10 !important;
}
.mui-datatables-root .MuiPaper-root {
  z-index: 10 !important;
}

.MuiTable-root, 
.MuiTableContainer-root, 
.MuiTableCell-root {
  z-index: 1 !important;
}
.MuiPaper-root {
  z-index: 10 !important;
} */
/*  */

/* .MuiDialog-root .MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.45) !important;
  z-index: 1500 !important;
}


.Toastify__toast-container {
  z-index: 999999 !important;
}

.Toastify__toast {
  z-index: 999999 !important;
} */




.dj1 {
    color: red;
}


.tss-10rusft-MUIDataTableToolbar-icon {
    background-color: #366FA1 !important;
    color: white !important;
    margin-left: 6px !important;
}

body {
    background-image: url("/src/assets/bg-10.png");
    background-size: cover;
    background-position: center;

    margin: 0;
    height: 100%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* ////////////////////////////////////////////////////// */

.css-113cboj-MuiTabs-root {
    min-height: "30px"!important;
}