@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-row-padding .MuiTableCell-root {
    padding: 4px 8px; /* Adjust padding as needed */
  }



.mui-datatables-1t7lzbz-MuiTableCell-root{
    padding: 5px !important;
}


/* .tss-10rusft-MUIDataTableToolbar-icon{
    background-color: blue !important;
    color: white !important;
} */
.dj1{
    color: red;
}

.css-113cboj-MuiTabs-root {
    min-height: "30px"!important;
}

/* Mobile: override position to center */
@media (max-width: 768px) {
  .Toastify__toast-container {
    width: 100% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: 0 !important;
    top: 12px !important;
  }
}
/* Toast Always on Top (even above MUI modal) */
.Toastify__toast-container {
  z-index: 999999999 !important;
}

.Toastify__toast {
  z-index: 999999999 !important;
}
